
.content {
  align-self: end;
  padding-bottom: 2rem;
  position: relative;
}

.ascii {
  position: absolute;

  left: 8rem;
  bottom: 2rem;

  font-family: monospace;
  font-size: 0.55rem;
  line-height: 1;

  white-space: pre;
  color: var(--text);

  opacity: 0.8;
  pointer-events: none;
}